{% extends 'base.html' %}
{% load static %}
{% block title %}{{this_user.user.first_name}} {{this_user.user.last_name}} | FitMySelf{% endblock title %}
{% block css %}
<style>
    #pic-container{
        background-color: #3a3b3c;
    }
    #cover-pic{
        position: relative;
        width: 70vw;
        height: 55vh;
        margin: 0 auto;
    }
    #profile-pic{
        position: relative;
        width: 150px;
        height: 150px;
        bottom: 125px;
        left: 50%;
        transform: translateX(-50%);
    }
    #cover-pic img{
        height: 100%;
        width: 100%;
    }
    .upload-btn{
        position: absolute;
        bottom: 10px;
        right: -10px;
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
    }
    .upload-btn:hover{
        
        background-color: rgba(255, 255, 255, 0.5);
    }
    .upload-btn i:hover{
        color: black;
    }
    .upload-btn:focus{
        outline: none;
        text-decoration: none;
    }
    #upload-btn{
        background-color: #242526;
        position: relative;
        bottom: 50px;
        left: 15px;
    }
    #upload-btn:hover{
        background-color: #3a3b3c;
    }
    #upload-btn:focus{
        outline: none !important;
        text-decoration: none !important;
    }
    #name{
        position: relative;
        bottom: 120px;
    }
    .photos{
        background-color: #3a3b3c;
        height: max-content;
    }
    #posts{
        /* background-color: #3a3b3c; */
    }

</style>
    
{% endblock css %}
{% block body %}
    <div id="main-div">
        <div id="pic-container">
            <div id="cover-pic" class="rounded-bottom">
                <img src="{% if cover_pic %}{{media}}{{cover_pic.cover_photo}}{% else %}{% static 'images/cover.jpg' %}{% endif %}" alt="" class="rounded-3">
                {% if this_user.user == request.user %}
                <form action="/edit-cover-pic/{{this_user.slug}}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" id="upload-cover-pic" name="pic" onchange="form.submit()" style="display: none;">
                </form>
                <button class="btn text-white" id="upload-btn" onclick="document.getElementById('upload-cover-pic').click()"><i class="fa fa-camera"></i> Edit Cover Photo</button>   
                {% endif %}
            </div>
            <div id="profile-pic" class="rounded-circle bg-white border border-3 border-dark">
                <img src="{% if profile_pic %}{{media}}{{profile_pic.display_picture}}{% else %}{% static 'images/user.svg' %}{% endif %}" alt="" class="w-100 h-100 rounded-circle">
                {% if this_user.user == request.user %}
                <form id="profile-pic-form" action="/edit-profile-pic/{{this_user.slug}}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" id="uploade-profile-pic" name="pic" onchange="form.submit()" style="display: none;">
                </form>
                <button class="rounded-circle upload-btn text-white" onclick="document.getElementById('uploade-profile-pic').click()"><i class="fa fa-camera"></i></button>
                {% endif %}
            </div>
            <h2 class="text-center text-white" id="name">{{this_user.user.first_name}} {{this_user.user.last_name}}</h2>
        </div>
        <div class="container my-3">
            <div class="row">
                <div class="col-5" id="info">
                    <div class="photos rounded-3 container-fluid">
                        <div class="row">
                            <h4 class="text-white col-6">Photos</h4>
                            <a href="#" class="col-6 text-right" style="text-decoration: none;"><h5>See all Photos</h5></a>
                            <div class="thumbnails">
                                <div class="row">
                                    {% for pic in photos %}
                                    <div class="col-4 py-1 gx-1">
                                        <img src="{{media}}{{pic}}" class="img-thumbnail" style="width: 100%; height: 100%;" alt="">
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-7" id="posts">
    
                </div>

            </div>
        </div>
    </div>
{% endblock body %}
{% block script %}
<script>
    var h = (document.getElementById("navbar").offsetHeight) + "px";
    document.getElementById("main-div").style.marginTop = h;
</script>

{% endblock script %}