{% extends 'base.html' %}
{% load static %}
{% block title %}FitMySelf -- Workouts{% endblock title %}
{% block css %}
<style>
    #main-div {
        margin-top: 0;
        padding-top: 1px;
    }
    .workout{
        width: 75%;
        color: white;
    }
</style>
{% endblock css %}
{% block body %}
<div class="container infinite-container" id="main-div">
    {% for workout in workouts %}
    <div class="workout infinite-item mx-auto mt-5 border container-fluid border-light border-4">
        <h3>{{workout.date}}</h3>
        <h4>{{workout.parts}}</h4>
        <div class="table-responsive">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Exercise</th>
                        <th class="text-center">Repetition</th>
                        <th class="text-center">Sets</th>
                    </tr>
                </thead>
                <tbody>
                    {% for exercise in exercises %}
                    {% for i in exercise %}
                    {% if i.workout == workout %}
                    <tr>
                        <th>{{forloop.counter}}</th>
                        <td>{{i.name}}</td>
                        <td class="text-center">{{i.repetition}}</td>
                        <td class="text-center">{{i.sets}}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}     
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="my-2">
            <a href="/workout/update_workout/{{workout.slug}}" class="btn btn-sm btn-secondary"><i class="fa fa-edit"></i></a>
            <a href="/workout/delete_workout/{{workout.slug}}" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i></a>
        </div>
    </div>
    {% endfor %}
</div>
{% if workouts.has_next %}
    <a class="infinite-more-link" style="display: none;" href="?page={{ workouts.next_page_number }}">More</a>
{% endif %}
{% endblock body %}
{% block script %}

<script src="{% static 'js/waypoint/lib/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/waypoint/lib/shortcuts/infinite.min.js' %}"></script>

<script>
    var h = (document.getElementById("navbar").offsetHeight) + "px";
    document.getElementById("main-div").style.marginTop = h;
</script>

<script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
</script>

{% endblock script %}